<html>
    <head>
        <title>
            Register
        </title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <form action="">
            <label for="Username">Username:</label>
            <input type="text" id="username" value="qkjmviernes"/>
            <label for="Password">Password:</label>
            <input type="text" id="password" value="qkjmviernes"/>
            <button type="submit" name="Login">Register</button>
        </form>
        <button href="/login" type="submit" name="Login">Login</button>
    </body>
</html>